*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100vh;
    background: #23242a;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root{
    --width: 390px;
    --height: 500px;
}
.box{
    position: relative;
    width: var(--width);
    height: var(--height);
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--width);
    height: var(--height);
    background: linear-gradient(30deg, transparent,transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    z-index: 1;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--width);
    height: var(--height);
    background: linear-gradient(30deg, transparent,transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
    z-index: 1;
}
.boxLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.boxLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--width);
    height: var(--height);
    background: linear-gradient(30deg, transparent,transparent, #ff0000, #ff0000, #ff0000);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
    z-index: 1;
}
.boxLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--width);
    height: var(--height);
    background: linear-gradient(30deg, transparent,transparent, #ff0000, #ff0000, #ff0000);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
    z-index: 1;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
form{
    position: absolute;
    inset: 2px;
    background: #222;
    border-radius: 10px;
    padding: 20px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
h1{
    padding: 20px;
    text-align: center;
    color: #45f3ff;
    font-size: 30px;
    letter-spacing: .2rem;
    font-weight: 900;
}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 25px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 15px 10px 10px;
    font-size: 1rem;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #45f3ff;
    color: #fff;
    transition: .5s;
    z-index: 10;
}
.inputBox label{
    position: absolute;
    left: 0;
    padding: 15px 10px 10px;
    font-size: 1rem;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05rem;
    transition: .5s ease;
}
.inputBox input:focus ~ label,
.inputBox input:valid ~ label{
    color: #45f3ff;
    font-size: 0.9rem;
    transform: translate(-10px,-50%)
}
.remember-forget{
    display: flex;
    justify-content: space-between;
    margin: 12px 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #45f3ff;
    cursor: pointer;
}
.remember-forget label input{
    accent-color: #ff0000;
    margin-right: 3px;
    cursor: pointer;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    margin-top: 5px;
    width: 120px;
    height: 40px;
    border: none;
    background: #45f3ff;
    font-size: 13px;
    color: #222;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .4px;
    border-radius: 6px;
    transition: .3s ease;
}
.btn:hover{
   width: 100%;
   font-size: 15px;
}
.login-sign{
    position: absolute;
    bottom: 20px;
    left: 20%;
    color: #8f8f8f;
    font-weight: 300;
    font-size: 15px;
}
.login-sign a{
    color: #45f3ff;
    cursor: pointer;
    display: inline-block;
    margin-left: 3px;
    font-weight: 350;
}
.login-sign a:hover{
    text-decoration: underline;
    font-weight: bold;
}
#login.active{
    z-index: 3;
}
#sign.active{
    z-index: 3;
}
@media screen and (max-width: 350px) {
    form{
        padding: 20px;
    }
    .btn{
        height: 35px;
    }
    .login-sign{
        left: 10%;
    }
}